@page "/inscripciones/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService SweetAlertService


<h3>UsuarioCreate</h3>

<InscripcionForm @ref="incripcionForm" Inscripcion="inscripcion" OnSubmit="Create" ReturnAction="Return" />


@code {
    private Inscripcion inscripcion = new();
    private InscripcionForm incripcionForm;

    private async Task Create()
    {
        var responseHttp = await repository.PostAsync("/api/inscripciones", inscripcion);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessageAsync();
            await SweetAlertService.FireAsync("Error", message);
            return;
        }

        Return();

        var toast = SweetAlertService.Mixin(new SweetAlertOptions
            {
                Toast = true,
                Position = SweetAlertPosition.BottomEnd,
                ShowConfirmButton = true,
                Timer = 6000
            });
        await toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con éxito");
    }


    private void Return()
    {
        incripcionForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/inscripciones");
    }

}