@using PaginaCursos.Shared.Entities
@using PaginaCursos.WEB.Repositories
@using PaginaCursos.WEB.Shared
@inject IRepository repository
@inject SweetAlertService SweetAlertService
@inject SweetAlertService swal

<NavigationLock OnBeforeInternalNavigation="OnBeforeInternalNavigation"></NavigationLock>

<EditForm EditContext="editContext" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator />

    <div class="mb-3">
        <label>Documento:</label>
        <div>

            <InputText @bind-Value="Profesor.Documento" />
            <ValidationMessage For="@(()=>Profesor.Documento)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Nombre:</label>
        <div>
            <InputText @bind-Value="Profesor.Nombre" />
            <ValidationMessage For="@(()=>Profesor.Nombre)" />
        </div>
    </div>

    <div class="mb-3">
        <label>Apellido:</label>
        <div>
            <InputText @bind-Value="Profesor.Apellido" />
            <ValidationMessage For="@(()=>Profesor.Apellido)" />
        </div>
    </div>


    <div class="mb-3">
        <label>Correo electronico:</label>
        <div>
            <InputText @bind-Value="Profesor.CorreoElectronico" />
            <ValidationMessage For="@(()=>Profesor.CorreoElectronico)" />
        </div>
    </div>




    <button class="btn btn-primary" type="submit">Guardar</button>
    <button class="btn btn-info" type="reset">Limpiar</button>
    <button class="btn btn-success" @onclick="ReturnAction">Regresar</button>



</EditForm>

@code {

    private EditContext editContext = null!;
    protected override void OnInitialized()
    {
        editContext = new(Profesor);
    }


    [EditorRequired]
    [Parameter]
    public Profesor Profesor { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback OnSubmit { get; set; }


    [EditorRequired]
    [Parameter]
    public EventCallback ReturnAction { get; set; }


    public bool FormPostedSuccessfully { get; set; } = false;

    private async Task OnBeforeInternalNavigation(LocationChangingContext context)
    {
        var formularioFueEditado = editContext.IsModified();

        if (!formularioFueEditado)
        {
            return;
        }

        if (FormPostedSuccessfully)
        {
            return;
        }

        var resultado = await swal.FireAsync(new SweetAlertOptions
            {
                Title = "Confirmación",
                Text = "¿Deseas abandonar la página y perder los cambios?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true
            });

        var confirmado = !string.IsNullOrEmpty(resultado.Value);

        if (confirmado)
        {
            return;
        }

        context.PreventNavigation();
    }


}